body {
    background-image: url(../assets/imagenes/Fondo.jpg);
    background-position: 10%, 10%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;

}


.tituloPrincipal {
    color: black;
    text-align: center;

}

.tituloPrincipal2 {
    color: black;
    text-align: lef;

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.div1 {
    /* background-color: #967707; */
    color: black;
    justify-self: center;
    align-self: center;
}

.div2 {
    background-color: #e6e6e6;
    justify-self: center;
    align-self: center;
}

.conteiner {
    display: grid;
    place-items: center;
}

.contenedor {
    text-align: center;
}

a {
    text-decoration: none !important;
    font-size: 16px;
}

p {
    font-size: 16px;
}

a:hover {
    color: #0d6efd !important
}

i {
    font-size: 25px;
}

.row {
    display: flex;
}

.column {
    flex: 1;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* Proporción del video (16:9) */
    padding-top: 30px;
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}